@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f8f7ff;
  /* overflow: auto !important; */
}
:root {
  --nav: #9381ff;
}
